@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --brand-dark: #020b26;
  --brand-pink: #ff009f;
  --brand-blue: #2046f6;
  --brand-gray: #919ea9;
  --brand-red: #ff0043;
  --brand-green: #02ff00;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.post-author img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


/* switching logos based on browser light/dark mode */
.logo-light {
  display: inline-block;
}
.logo-dark {
  display: none;
}

html.dark .logo-light {
  display: none;
}
html.dark .logo-dark {
  display: inline-block;
}
